@font-face {
    font-family: 'montserrat_alternatesblack';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-black-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatesBlkIt';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-blackitalic-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatesbold';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-bold-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatesBdIt';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-bolditalic-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatesXBd';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-extrabold-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatesXBdIt';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-extrabolditalic-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatesXLt';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-extralight-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatesXLtIt';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-extralightitalic-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatesitalic';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-italic-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternateslight';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-light-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserrat_alternatesLtIt';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-lightitalic-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserrat_alternatesmedium';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-medium-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserrat_alternatesMdIt';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-mediumitalic-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatesregular';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-regular-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatessemibold';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-semibold-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatesSBdIt';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-semibolditalic-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatesthin';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-thin-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_alternatesThIt';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-thinitalic-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserratalternates-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratblack';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-black-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratblack_italic';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-blackitalic-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratbold';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-bold-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratbold_italic';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-bolditalic-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratextrabold';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-extrabold-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratextrabold_italic';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-extrabolditalic-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratextralight';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-extralight-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratextralight_italic';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-extralightitalic-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratitalic';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-italic-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratlight';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-light-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratlight_italic';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-lightitalic-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratmedium';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-medium-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratmedium_italic';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-mediumitalic-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratregular';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratsemibold';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-semibold-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratsemibold_italic';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-semibolditalic-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratthin';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-thin-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'montserratthin_italic';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-thinitalic-webfont.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/montserrat/montserrat-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato_black';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/lato-black.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/lato-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato_bold';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/lato-bold.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/lato-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato_bold_italic';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/lato-bolditalic.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/lato-bolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato_italic';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/lato-italic.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/lato-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'lato_light';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/lato-light.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/lato-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('https://www.careco.es/careco.es/views/app/resources_2/fonts/lato-regular.woff2') format('woff2'),
         url('https://www.careco.es/careco.es/views/app/resources_2/fonts/lato-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body { font-family: 'montserratregular'!important; }

.css-borde-right{ border-right: 1px solid #d9d9d9;}
.css-borde-left{ border-left:1px solid #d9d9d9;}
.css-borde-top{ border-top:1px solid #d9d9d9;}
.css-borde-bottom{ border-bottom:1px solid #d9d9d9;}
.css-noPadding{ padding:0!important;}
.css-noMargin{ margin:0!important;}
.css-noFloat{ float:none!important;}
.css-regular { font-family: 'montserratregular'!important;}
.css-bold { font-family: 'montserratbold'!important;}
.css-semibold { font-family: 'montserratsemibold'!important;}
.css-medium { font-family: 'montserratmedium'!important;}
.css-bolditalic { font-family: 'montserratbold_italic'!important;}
.css-lato { font-family: 'Lato'!important;}
.css-font-inherit { font-weight: inherit!important;}
.css-centrar, .css-center { text-align:center!important;}
.css-justify{ text-align:justify!important;}
.css-underline{ text-decoration: underline!important;}
.css-through{ text-decoration:line-through!important;}
.css-relative{ position:relative;}
.css-inline{ display:inline!important;}
.css-hr{ height:1px; background-color:#777; border:0 solid #777; margin:-10px 0 15px 0 }
.css-hide{ display:none;}
.css-shadow{ -webkit-box-shadow: -5px 6px 5px -4px rgba(0,0,0,0.75); -moz-box-shadow: -5px 6px 5px -4px rgba(0,0,0,0.75); box-shadow: -5px 6px 5px -4px rgba(0,0,0,0.75);}
.css-uppercase{ text-transform: uppercase;}
.css-italic { font-style: italic;}
.css-noDecoration { text-decoration: none!important;}
.css-noDecoration:hover { text-decoration: none!important;}

.css-marginR5{ margin-right:5px!important}
.css-marginR10{ margin-right:10px!important}
.css-marginR20{ margin-right:20px!important}
.css-marginR30{ margin-right:30px!important}
.css-marginR40{ margin-right:40px!important}
.css-marginR50{ margin-right:50px!important}

.css-marginL10{ margin-left:10px!important}
.css-marginL20{ margin-left:20px!important}
.css-marginL30{ margin-left:30px!important}
.css-marginL40{ margin-left:40px!important}
.css-marginL50{ margin-left:50px!important}
.css-marginL60{ margin-left:60px!important}
.css-marginL70{ margin-left:70px!important}
.css-marginL80{ margin-left:80px!important}
.css-marginL90{ margin-left:90px!important}
.css-marginL100{ margin-left:100px!important}

.css-marginT0{ margin-top:0px!important}
.css-marginT5{ margin-top:5px!important}
.css-marginT10{ margin-top:10px!important}
.css-marginT20{ margin-top:20px!important}
.css-marginT24{ margin-top:24px!important}
.css-marginT30{ margin-top:30px!important}
.css-marginT40{ margin-top:40px!important}
.css-marginT45{ margin-top:45px!important}
.css-marginT50{ margin-top:50px!important}
.css-marginT60{ margin-top:60px!important}
.css-marginT70{ margin-top:70px!important}
.css-marginT72{ margin-top:72px!important}
.css-marginT80{ margin-top:80px!important}
.css-marginT90{ margin-top:90px!important}
.css-marginT100{ margin-top:100px!important}

.css-marginB0{ margin-bottom:0px!important}
.css-marginB10{ margin-bottom:10px!important}
.css-marginB20{ margin-bottom:20px!important}
.css-marginB30{ margin-bottom:30px!important}
.css-marginB40{ margin-bottom:40px!important}
.css-marginB50{ margin-bottom:50px!important}
.css-marginB55{ margin-bottom:55px!important}
.css-marginB60{ margin-bottom:60px!important}
.css-marginB90{ margin-bottom:90px!important}

.css-paddingR0{ padding-right:0px!important}
.css-paddingR10{ padding-right:10px!important}
.css-paddingR20{ padding-right:20px!important}
.css-paddingR30{ padding-right:30px!important}
.css-paddingR40{ padding-right:40px!important}
.css-paddingR45{ padding-right:45px!important}
.css-paddingR50{ padding-right:50px!important}

.css-paddingL0{ padding-left:0px!important}
.css-paddingL10{ padding-left:10px!important}
.css-paddingL20{ padding-left:20px!important}
.css-paddingL30{ padding-left:30px!important}
.css-paddingL40{ padding-left:40px!important}
.css-paddingL45{ padding-left:45px!important}
.css-paddingL50{ padding-left:50px!important}
.css-paddingL75{ padding-left:75px!important}

.css-paddingT0{ padding-top:0!important}
.css-paddingT5{ padding-top:5px!important}
.css-paddingT10{ padding-top:10px!important}
.css-paddingT12{ padding-top:12px!important}
.css-paddingT14{ padding-top:14px!important}
.css-paddingT20{ padding-top:20px!important}
.css-paddingT30{ padding-top:30px!important}
.css-paddingT40{ padding-top:40px!important}
.css-paddingT50{ padding-top:50px!important}
.css-paddingT60{ padding-top:60px!important}
.css-paddingT70{ padding-top:70px!important}
.css-paddingT80{ padding-top:80px!important}
.css-paddingT90{ padding-top:90px!important}
.css-paddingT100{ padding-top:100px!important}

.css-paddingB0{ padding-bottom:0px!important}
.css-paddingB10{ padding-bottom:10px!important}
.css-paddingB20{ padding-bottom:20px!important}
.css-paddingB25{ padding-bottom:25px!important}
.css-paddingB30{ padding-bottom:30px!important}
.css-paddingB40{ padding-bottom:40px!important}
.css-paddingB50{ padding-bottom:50px!important}

.css-fontSize10{ font-size:10px!important;}
.css-fontSize11{ font-size:11px!important;}
.css-fontSize12{ font-size:12px!important;}
.css-fontSize13{ font-size:13px!important;}
.css-fontSize14{ font-size:14px!important;}
.css-fontSize15{ font-size:15px!important;}
.css-fontSize16{ font-size:16px!important;}
.css-fontSize17{ font-size:17px!important;}
.css-fontSize18{ font-size:18px!important;}
.css-fontSize19{ font-size:19px!important;}
.css-fontSize20{ font-size:20px!important;}
.css-fontSize21{ font-size:21px!important;}
.css-fontSize22{ font-size:22px!important;}
.css-fontSize23{ font-size:23px!important;}
.css-fontSize24{ font-size:24px!important;}
.css-fontSize25{ font-size:25px!important;}
.css-fontSize26{ font-size:26px!important;}
.css-fontSize27{ font-size:27px!important;}
.css-fontSize28{ font-size:28px!important;}
.css-fontSize29{ font-size:29px!important;}
.css-fontSize30{ font-size:30px!important;}
.css-fontSize31{ font-size:31px!important;}
.css-fontSize32{ font-size:32px!important;}
.css-fontSize33{ font-size:33px!important;}
.css-fontSize34{ font-size:34px!important;}
.css-fontSize35{ font-size:35px!important;}
.css-fontSize36{ font-size:36px!important;}
.css-fontSize37{ font-size:37px!important;}
.css-fontSize38{ font-size:38px!important;}
.css-fontSize39{ font-size:39px!important;}
.css-fontSize40{ font-size:40px!important;}

.css-fontSize40{ font-size:40px!important;}
.css-fontSize41{ font-size:41px!important;}
.css-fontSize42{ font-size:42px!important;}
.css-fontSize43{ font-size:43px!important;}
.css-fontSize44{ font-size:44px!important;}
.css-fontSize45{ font-size:45px!important;}
.css-fontSize46{ font-size:46px!important;}
.css-fontSize47{ font-size:47px!important;}
.css-fontSize48{ font-size:48px!important;}
.css-fontSize49{ font-size:49px!important;}
.css-fontSize50{ font-size:50px!important;}

.css-espacio10{ margin-bottom:10px;}
.css-espacio20{ margin-bottom:20px;}
.css-espacio30{ margin-bottom:30px;}
.css-espacio40{ margin-bottom:40px;}
.css-espacio50{ margin-bottom:50px;}
.css-espacio60{ margin-bottom:60px;}
.css-espacio70{ margin-bottom:70px;}
.css-espacio80{ margin-bottom:80px;}
.css-espacio90{ margin-bottom:90px;}
.css-espacio100{ margin-bottom:100px;}
.css-espacio230{ margin-bottom:230px;}

.css-minHeight10{ min-height:10px;}
.css-minHeight20{ min-height:20px;}
.css-minHeight30{ min-height:30px;}
.css-minHeight40{ min-height:40px;}
.css-minHeight50{ min-height:50px;}
.css-minHeight60{ min-height:60px;}
.css-minHeight70{ min-height:70px;}
.css-minHeight80{ min-height:80px;}
.css-minHeight90{ min-height:90px;}
.css-minHeight100{ min-height:100px;}

.css-lineH { line-height: 21px!important;}

.css-min-height950 { min-height: 950px!important;}
.css-paddingTB22 { padding: 22px 0!important;}

.css-text-white { color: #FFF!important;}
.css-text-black { color: #000!important;}
.css-text-gold { color:#c4a96b!important;}
.css-text-green { color:#5E8F95!important;}
.css-text-yellow { color:#ebc726!important;}
.css-text-gray { color: #666!important;}
.css-dark-gray-2 { color: #444!important;}
.css-gray-2 { color: #676767!important;}

.css-background-green { background-color: #CDDDDC!important;}
.css-background-gray { background-color: #F2F2F2!important;}

.btn-green {
   background-color: #7FA9AE;
   border: 1px solid #7FA9AE!important;
}

.btn-green:hover {
   background-color: #5E8F95!important;
   border: 1px solid #5E8F95!important;
}

/* ------------------------------------------------------------------------------ */
.btn {
   border: 1px solid #000;
}

.btn-slide {
   font-size: 27px!important;
   padding: 5px!important;
   border-radius: 0!important;
}

.navbar-default {
   border-radius: 0;
}

.navbar-default {
   background-color: #E7E7E7;
   border: none;
   min-height: 82px;
   padding: 16px 0;
}

.navbar {
   margin-bottom: 0;
}

.css-nav-top {
   width: 100%;
   min-height: 36px;
   background-color: #FFF;
   font-size: 12px;
   color: #000;
   padding-top: 7px;
}

.css-nav-top i {
   font-size: 17px;
}

.css-nav-top a {
   color: #000;
}

.carousel-fade .carousel-inner .item {
   background-position: center;
}

.css-promotion-panel {
   background-position: center;
   background-size: cover;
   position: relative;
   width: 100%;
   height: 150px;
   padding-top: 20px;
}

.css-promotion-panel .css-tag {
   background-color: #5E8F95;
   width: 80px;
   color: #FFF;
   padding: 5px 10px;
}

#portfolio .overlay {
   background-color: #5E8F95;
   text-align: left;
   padding: 0 20px;
}

#portfolio .folio-item:hover .overlay .folio-info {
   margin-top: 0;
}

#portfolio .folio-item:hover .overlay {
   opacity: 0.9;
}

.folio-info h3 {
   font-size: 15px;
   color: #ADCED2!important;
}

.css-preomotion-title {
   color: #989898;
}

.btn {
   border: 1px solid #5E8F95;
   color: #000;
}

#features {
   padding: 0;
}

#features i {
    font-size: 30px;
}

#features p {
   font-size: 21px
}

#features h2 {
   color: #FFF;
}

#features {
   text-align: center;
   background-image: url(../../../images/background-slogan.jpg);
   background-position: center;
   background-size: cover;
   color: #FFF;
}

#features .css-overlay {
   background-color: rgba(127,169,174,.7);
   padding: 20px 0;
}

.service-icon {
   background-color: inherit;
   color: #7FA9AE;
   font-size: 65px;
}

#client {
   padding: 20px 0 55px 0;
   background-color: #F2F2F2;
}

.css-client-panel {
   background-color: #FFF;
   text-align: justify;
   width: 100%;
   min-height: 120px;
   padding: 20px;
}

.twitter-icon h4 {
   color: #000;
}

.twitter-icon p {
   color: #000;
}

.twitter-left-control, .twitter-right-control {
   color: #7FA9AE;
   border: 1px solid #7FA9AE;
}

.carousel-indicators {
   bottom: -50px;
}

.carousel-indicators li {
   background-color: #7FA9AE;
}

.carousel-indicators .active {
   background-color: #7FA9AE;
}

.entry-header h3 a {
   color: #000;
}

.entry-header h3 a:hover {
   color: #7B7B7B;
}

.entry-header .date {
   color: #7FA9AE;
}

.form-control {
   border-radius: 0;
}

#main-contact-form label {
   color: #000;
}

body[data-form-style="minimal"] .minimal-form-input {
   padding-top: 7px !important;
}

.css-newsletter {
   padding: 30px 0;
   background-image: url('../../../images/newsletter-background.jpg');
   background-size: cover;
   background-position: center;
   width: 100%;
   min-height: 255px;
   color: #FFF;
   text-align: center;
}

.css-newsletter input {
   display: table-cell!important;
   position: relative!important;
   z-index: 2!important;
   float: left!important;
   width: 100%!important;
   margin-bottom: 0!important;
   border-radius: 0!important;
   -webkit-box-shadow: inherit!important;
   box-shadow: inherit!important;
   /* display: block!important; */
   height: 38px!important;
   padding: 6px 12px!important;
   font-size: 14px!important;
   line-height: 1.42857143!important;
   color: #FFF!important;
   background-color: transparent!important;
   background-image: none!important;
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075)!important;
   box-shadow: inset 0 1px 1px rgba(0,0,0,.075)!important;
   border: 1px solid #FFF!important;
}

.css-newsletter h2 {
   color: #FFF;
   font-size: 22px;
   font-weight: inherit!important;
}

.css-newsletter .btn-default {
   background-color: #000;
   color: #FFF;
   border-radius: 0;
   border:1px solid #FFF;
}

.css-newsletter input {
   background-color: transparent;
   border-radius: 0;
}

.css-newsletter-container {
   width:40%;
   margin:0 auto;
}

.css-info {
   background-color: #FFF;
   padding: 20px 0;
}

.css-info h2 {
   font-size: 22px;
}

.footer-top {
   padding: 50px 0 15px 0;
}

#footer {
   background-color: #7FA9AE;
}

#footer i {
   color: #000;
   font-size: 20px;
}

.css-links-footer {
   margin-top: 20px;
   color: #000;
}

.css-links-footer a {
   color: #000;
}

.css-links-footer a:hover {
   text-decoration: underline;
   color: #101010;
}

.navbar-default .navbar-nav > li > a {
   padding: 0 0 0 15px;
   color: #000;
}

.navbar-nav > li {
   padding: 15px 0;
}

.css-nav-separator {
   border-right: 1px solid #777;
   margin-left: 15px;
   height: 12px;
   float: right;
   margin-top: 6px;
}

.css-font24{ font-size:24px !important;}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a {
   font-size: 12px;
}

.wpb_column.instance-5::before {
    background-color: #cddddc;
    opacity: 1;
}

.css-promo-active.instance-5::before {
   background-color: #adc0c0!important;
   color: #FFF!important;
}

.css-promo-active.instance-4::before {
   background-color: #adc0c0!important;
   color: #FFF!important;
}

.css-promo-active h4{
   color: #FFF!important;
}

.css-icon {
   height: 30px!important;
   margin-top: 5px;
   margin-bottom: 0!important;
}

.css-icon-description {
   font-size: 14px;
   font-family: 'montserratsemibold'!important;
   color: #658181;
}

.css-gallery-image {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 204px;
   width: 100%;
}

.css-promo-list {
   min-height: 378px!important;
}

.full-width-content.vc_row-fluid .vc_span1, .full-width-content.vc_row-fluid .vc_col-sm-1 {
   width: 30%;
}

.navbar {
   margin-bottom: 0!important;
   border-radius: 0!important;
}

.navbar-default {
   background-color: #E7E7E7!important;
}

.css-promotion-cover-image {
   position: absolute;
   height: 100%;
   width: 96.8%;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

body h6, .row .col h6 {
   color: #444;
   font-weight: 500;
}

.css-location-promo {
   padding: 35px 10px 20px 0;
}

.css-location-promo p {
   color: #FFF!important;
}

.activoA2 {
    color: #7fa9ae !important;
    font-size: 20px;
    font-family: 'Lato',sans-serif;
    text-align: left;
    padding-top: 16px !important;
    text-align: center;
    font-weight: 600;
	display:block;
}

.pad a {
    color: #6B6C6B !important;
}

.css-sold {
   font-family: 'montserratsemibold';
   font-size: 15px;
   color: #AF090B;
}

@media (min-width: 360px) and (max-width: 991px) {
   .activoA2 {
   	display:none;
   }
}


.navbar-nav>li>.dropdown-menu {
    margin-top: 10px !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.dropdown-menu {
    background-color: #e7e7e7  !important;
    border: 1px solid #ccc ;
    border: 0px solid rgba(0,0,0,.15) !important;
    border-radius: 0px  !important;
}
