.sb-bg-slider-params.sb-slider-data-source-row {
	position:absolute;
	top:0;
	right:0;
	width:100%;
	height:100%;
}
.sbvcgmap-vertical-center {
	width:100%;
	max-width:100%;
	float:left;
	clear:both;
}
.sb-bg-slider-overlay {
	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
